<template>
    <div id="app">
        <message>Hello World!</message>
    </div>
</template>

<script>
    import Message from './Message/Message.vue';

    export default {
        name: "app",
        components : { Message },
        data() {
            return {

            }
        }
    }
</script>

<style lang="scss">
    #app {

    }

    .message {
        display: block;
        padding: 2rem;
        background-color: red;
    }
</style>
